.jumbotron {
	background-color: #fff;
	border-bottom: 1px #eee solid; 
}
.jumbotron a + a{
	margin-left: 20px;
}
.jumbotron a{
	transition: all 0.3s;
	border-color: #333; 
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.jumbotron a span{
	margin: 0;
}
.jumbotron a:hover{
	background: #333;
	color: #fff;
}
.jumbotron p{
	margin-top:30px;
}
.bg-black {
	background: #333;
	color:#fff;
	border: none;
	border-radius: 0;
}
pre {
	background: #333;
	color:#fff;
	border:none;
	border-radius: 0;
	padding: 35px 0;
	margin: 0;
}
code {
	background: inherit !important;
}
.page-container {
	padding: 30px 0;
}
.footer {
	padding-top: 20px;
	padding-bottom: 80px;
}
.footer a{
	color: #333;
	text-decoration: underline;
}
.glyphicon{
	top:5px;
	margin-left: 20px;
	font-size: 20px;
}
